BasedOnStyle: Google
AccessModifierOffset: -2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
NamespaceIndentation: None
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyIndentedWhitespace: 1
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveMacros: None
AlignEscapedNewlines: DontAlign