BasedOnStyle: Google
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
NamespaceIndentation: None
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
AccessModifierOffset: -2
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyIndentedWhitespace: 1
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveMacros: None
AlignEscapedNewlines: DontAlign